---
import type { GetStaticPaths } from "astro";
import PostPage from "../components/PostPage.astro";
import Pagination from "../components/control/Pagination.astro";
import { PAGE_SIZE } from "../constants/constants";
import MainGridLayout from "../layouts/MainGridLayout.astro";
import { getSortedPosts } from "../utils/content-utils";

export const getStaticPaths = (async ({ paginate }) => {
	const allBlogPosts = await getSortedPosts();
	return paginate(allBlogPosts, { pageSize: PAGE_SIZE });
}) satisfies GetStaticPaths;
// https://github.com/withastro/astro/issues/6507#issuecomment-1489916992

const { page } = Astro.props;

const pageDescription =
	page.currentPage === 1
		? "こいとゆう的个人技术博客，分享嵌入式开发、STM32、机器视觉、电子设计竞赛等领域的原创技术文章与项目实战记录。"
		: `技术博客文章列表第 ${page.currentPage} 页，浏览更多嵌入式开发、STM32、机器视觉等领域的原创技术分享与项目实战。探索こいとゆう博客的全部技术文章合集。`;

const len = page.data.length;
---

<MainGridLayout title={page.currentPage === 1 ? undefined : `技术文章列表 - 第 ${page.currentPage} 页`} description={pageDescription}>
    <!-- SEO: 首页需要 h1 标签 -->
    <h1 class="sr-only">こいとゆう - 嵌入式开发技术博客{page.currentPage > 1 ? ` - 第 ${page.currentPage} 页` : ''}</h1>
    <PostPage page={page}></PostPage>
    <Pagination class="mx-auto onload-animation" page={page} style=`animation-delay: calc(var(--content-delay) + ${(len)*50}ms)`></Pagination>
</MainGridLayout>